body {
  background: #000000;
}

.ter {
  font-family: 'Ubuntu Mono', monospace;
  color: #37f;
  font-size: 16px;
  font-weight: 100;
}
#mdkld{
  color: #ff0000;
}
.terminal-input {
  background: rgba(0, 0, 0, 0);
  font-family: monospace;
  color: transparent;
  font-size: 14px;
  outline: none;
  border: none;
  -webkit-text-fill-color: rgb(187,187,187);
}

.terminal-purple {
  color: #523050f2;

}

.console-line {
  color: rgb(53 167 53);
}

.login-line {
  color: #fff;
}

.console-carrot {
  vertical-align: middle;
  background: #ff0000;
  height: 20px;
  width: 1px;
  margin-left: -18px;
  display: inline-block;
  -webkit-animation: blink 1s step-start 0s infinite;
          animation: blink 1s step-start 0s infinite;
}

::-moz-selection {
  background-color: #fff;
  color: #000;
}

::selection {
  background-color: #ffffff60;
  color: #000;
}

@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}